
  /*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

  #include <behaviors.dtsi>
  #include <dt-bindings/zmk/keys.h>
  #include <dt-bindings/zmk/bt.h>
  #include <dt-bindings/zmk/ext_power.h>

  / {
    keymap {
      compatible = "zmk,keymap";
  layer0 {
          bindings = <
          &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp BACKSPACE &kp LEFT_GUI &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L [[KC_EXLM]] &kp MINUS &kp LEFT_SHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT [[KC_QUES]] &kp ESCAPE &mo 2 &mo 1 &kp SPACE [[RSFT_T(KC_ENT)]] &mt LEFT_CONTROL LANGUAGE_1 [[RALT_T(KC_LNG2)]]
          >;
        };layer1 {
          bindings = <
          [[RGUI(KC_TAB)]] &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BACKSPACE &kp LEFT_GUI &kp ESCAPE &none &kp BACKSPACE &kp TAB &none &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp ENTER &kp RIGHT_CONTROL &kp LEFT_SHIFT &none &none &none &none &none &kp HOME &kp PAGE_DOWN &kp PAGE_UP &kp END &none &kp ESCAPE &mo 3 &trans &kp SPACE [[RSFT_T(KC_ENT)]] &mt LEFT_CONTROL LANGUAGE_1 [[RALT_T(KC_LNG2)]]
          >;
        };layer2 {
          bindings = <
          &kp TAB [[KC_EXLM]] [[KC_AT]] [[KC_HASH]] [[KC_DLR]] [[KC_PERC]] [[KC_CIRC]] [[KC_AMPR]] [[KC_ASTR]] [[KC_LPRN]] [[KC_RPRN]] &kp BACKSPACE &kp LEFT_GUI [[KC_TILD]] [[KC_PIPE]] &kp SEMICOLON [[KC_COLN]] [[KC_PLUS]] &kp GRAVE [[KC_DQUO]] &kp SINGLE_QUOTE &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp RIGHT_ALT &mo 4 &kp INTERNATIONAL_3 &kp NON_US_HASH [[KC_UNDS]] &kp MINUS &kp KP_EQUAL &kp KP_SLASH [[KC_LT]] [[KC_GT]] [[KC_LCBR]] [[KC_RCBR]] &kp ESCAPE &trans &mo 3 &kp SPACE [[RSFT_T(KC_ENT)]] &mt LEFT_CONTROL LANGUAGE_1 [[RALT_T(KC_LNG2)]]
          >;
        };layer3 {
          bindings = <
          &kp TAB &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp LEFT_GUI &none &none &none &none &none [[KC_MS_L]] [[KC_MS_D]] [[KC_MS_U]] [[KC_MS_R]] &none &kp F12 &kp LEFT_SHIFT &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC &kp C_VOLUME_DOWN &kp C_VOLUME_UP &kp C_MUTE [[KC_WH_L]] [[KC_WH_D]] [[KC_WH_U]] [[KC_WH_R]] &none &kp ESCAPE &trans &trans &kp SPACE [[KC_BTN1]] [[KC_BTN2]] [[RALT_T(KC_LNG2)]]
          >;
        };layer4 {
          bindings = <
          &kp TAB &none &none &none &none &none &none &kp KP_N7 &kp KP_N8 &kp KP_N9 &none &kp BACKSPACE &kp LEFT_GUI &none &none &none &kp KP_ASTERISK &kp KP_PLUS &none &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_COMMA &kp RIGHT_CONTROL &trans &none &none &none &kp KP_MINUS &kp KP_EQUAL &kp KP_N0 &kp KP_N1 &kp KP_N2 &kp KP_N3 &none &kp ESCAPE &trans &trans &kp SPACE [[RSFT_T(KC_ENT)]] &trans &trans
          >;
        };
    };
  };
  